html,
body {
    height: 100%;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif, "微软雅黑", "Microsoft YaHei", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, 'helvetica neue', tahoma, 'hiragino sans gb', 'wenquanyi micro hei', "宋体";
    min-height: 100%;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    -webkit-tap-highlight-color: transparent;
}

input:focus {
    outline-color: deepskyblue;
}

.box-size {
    box-sizing: border-box;
}

a:hover {
    opacity: .7;
}


/*  */

.f0 {
    font-size: 0;
}

.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.f24 {
    font-size: 24px;
}

.f26 {
    font-size: 26px;
}

.f28 {
    font-size: 28px;
}

.f30 {
    font-size: 30px;
}

.f32 {
    font-size: 32px;
}

.f34 {
    font-size: 34px;
}

.f36 {
    font-size: 36px;
}

.font-normal {
    font-weight: normal;
}


/* line-height */

.line10 {
    line-height: 1;
}

.line12 {
    line-height: 1.2;
}

.line14 {
    line-height: 1.4;
}

.line16 {
    line-height: 1.6;
}

.line18 {
    line-height: 1.8;
}

.line20 {
    line-height: 2;
}


/* color */

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.color-333 {
    color: #333;
}

.color-666 {
    color: #666;
}

.color-999 {
    color: #999;
}


/* background */

.bg-white {
    background-color: #fff;
}


/* display */

.overflow {
    overflow: hidden;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center-1 {
    justify-content: center;
}

.flex-center-2 {
    justify-content: space-around;
}

.flex-center-3 {
    justify-content: space-between;
}

.flex-mid {
    align-items: center;
}

.flex-more-mid-1 {
    align-content: center;
}

.flex-more-mid-2 {
    align-content: space-around;
}

.flex-more-mid-3 {
    align-content: space-between;
}

.flex-more-mid-4 {
    align-content: stretch;
}

.flex-order-1 {
    order: 1;
}

.flex-order-2 {
    order: 2;
}

.flex-order-3 {
    order: 3;
}

.flex-0 {
    flex-grow: 0;
    flex-shrink: 0;
}

.flex-1 {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-2 {
    flex-grow: 2;
    flex-shrink: 2;
}

.flex-3 {
    flex-grow: 3;
    flex-shrink: 3;
}

.flex-self-mid {
    align-self: center;
}

.flex-self-bottom {
    align-self: flex-end;
}


/* width  height */

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.wh100 {
    width: 100%;
    height: 100%;
}


/* border */

.border-none {
    border: none;
}

.border {
    border: .013333rem transparent solid;
}

.border-bottom {
    border-bottom: 1px solid;
}

.border-top {
    border-top: 1px solid;
}

.border-right {
    border-right: 1px solid;
}

.border-left {
    border-left: 1px solid;
}

.border-color-333 {
    border-color: #333;
}

.border-color-666 {
    border-color: #666;
}

.border-color-999 {
    border-color: #999;
}

.border-color-ddd {
    border-color: #ddd;
}

.border-color-white {
    border-color: white;
}

.border-color-black {
    border-color: black;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-5 {
    border-radius: 5px;
}


/* ve */

.v-top {
    vertical-align: top;
}

.v-mid {
    vertical-align: middle;
}

.v-bottom {
    vertical-align: bottom;
}

.v-mid-after::after {
    display: inline-block;
    content: "";
    vertical-align: middle;
    height: 100%;
}


/* text-center */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-no-wrap {
    white-space: normal;
}

.text-hide-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-hide-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.text-hide-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}


/* transform */

.transition600 {
    transition-duration: 600ms;
}


/* 毛玻璃 */

.glass::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    margin: -20px;
    z-index: -1;
}


/* select 模拟 */

.resource-search {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    color: #333;
    text-align: left;
}


/*模拟select*/

.search-resource {
    padding: 6px 12px;
}

.imitate-select {
    position: relative;
    margin: 0 14px;
}

.imitate-select-cont {
    position: relative;
    display: flex;
    align-content: center;
    width: 180px;
    height: 36px;
    line-height: 34px;
    padding: 0 12px;
    border: 1px #e4e4e4 solid;
    border-radius: 3px;
    cursor: pointer;
}

.imitate-select-cont i {
    color: #ddd;
    transition-duration: 600ms;
    transform: rotate(180deg);
}

.imitate-select-cont i.recover {
    transform: rotate(0);
}

.imitate-select-list {
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    padding: 0 12px;
    background-color: #fff;
    border: 1px #e4e4e4 solid;
    border-radius: 3px;
    opacity: 0;
    transition-duration: 600ms;
    transform: matrix(1, 0, 0, 1, 20, 0);
    pointer-events: none;
    z-index: 9;
}

.imitate-select-list-show {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    pointer-events: auto;
}

.imitate-select-list li {
    padding: 6px 0;
    border-bottom: 1px #999 dashed;
}

.imitate-select-list li:last-child {
    border: none;
}

.imitate-select-list li a {
    display: inline-block;
    width: 100%;
    color: #333;
}


/*时间单选*/

.seaarch-time {
    padding: 6px 12px;
}

.seaarch-time label {
    padding: 0 12px;
    cursor: pointer;
}

.seaarch-time label span {
    padding-left: 6px;
}

.input-box-radio {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px #d1d1d1 solid;
    border-radius: 50%;
    overflow: hidden;
}

.input-box-radio input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.input-box-radio span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px #f7f7f7 solid;
    background-color: #f7f7ff;
    transition-duration: 600ms;
}

.input-box-radio input:checked+span {
    background-color: #6699ff;
}


/*时间范围选择*/

.search-time-scope {
    padding: 6px 12px;
}

.search-time-scope .input-box-date {
    position: relative;
    width: 180px;
    height: 31px;
    margin: 0 14px;
}

.search-time-scope .input-box-date>input {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    padding: 7px 12px;
    border: 1px #e4e4e4 solid;
    border-radius: 3px;
}


/*筛选提交按钮*/

.search-submit {
    padding: 6px 12px;
}

.search-submit a {
    display: block;
    width: 120px;
    line-height: 36px;
    border-radius: 3px;
    background-color: #ffcc00;
    text-align: center;
    color: #fff;
    font-size: 16px;
}


/**/

.table-box {
    padding: 12px 0;
}


/* input */


/* inputText */

.inputText {
    width: 720px;
    font-size: 0;
    text-align: right;
    padding: 12px 0;
}

.inputText * {
    display: inline-block;
    font-size: 14px;
}

.inputText span {
    color: #fa2323;
}

.inputText p {
    padding: 0 12px;
    color: #333;
}

.inputText input {
    width: 320px;
    height: 46px;
    padding: 0 12px;
    border: 1px #e4e4e4 solid;
    border-radius: 6px;
    color: #333;
}

.inputText input:focus {
    /* outline-color: #23cb5c; */
}

.inputText i {
    width: 260px;
}


/* inputSelect */

.inputSelect {
    position: relative;
    width: 720px;
    font-size: 0;
    text-align: right;
    padding: 12px 0;
}

.inputSelect * {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.inputSelect span {
    color: #fa2323;
}

.inputSelect p {
    padding: 0 12px;
    color: #333;
}

.inputSelect .input-box {
    position: relative;
    z-index: 2;
}

.inputSelect .input-box .copyModel {
    position: relative;
    width: 320px;
    height: 46px;
    line-height: 46px;
    padding: 0 12px;
    text-align: left;
    border: 1px #e4e4e4 solid;
    border-radius: 6px;
    color: #333;
}

.inputSelect .input-box ul {
    position: absolute;
    top: 50px;
    left: 0;
    width: 320px;
    padding: 3px 12px;
    border: 1px #e4e4e4 solid;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    opacity: 0;
    transition-duration: 600ms;
    transform: matrix(1, 0, 0, 1, 20, 0);
    pointer-events: none;
}

.inputSelect .input-box .show-select {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    pointer-events: auto;
}

.inputSelect .input-box ul li {
    width: 100%;
    padding: 6px 0;
    color: #666;
    border-bottom: 1px #f5f5f5 dashed;
    transition-duration: 600ms;
    cursor: pointer;
}

.inputSelect .input-box ul li:hover {
    background-color: #fafafa;
}

.inputSelect .input-box ul li:last-child {
    border: none;
}

.inputSelect i {
    width: 260px;
}

.inputSelect .icon {
    position: absolute;
    width: auto;
    right: 10px;
    top: 14px;
    color: #999;
    transition-duration: 600ms;
    transform: rotate(180deg);
}

.inputSelect .rotate-icon {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
}